<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center">Agregar cita</h5>
    <div *ngIf="formularioIncorrecto" class="text-center">
      <span class="badge text-bg-danger">Todos los campos son obligatorios</span>

    </div>

    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" [(ngModel)] ="nombre" class="form-control" placeholder="Ingresa tu nombre y apellidos">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Fecha</label>
      <input type="date" id="fecha"  [(ngModel)] ="fecha" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Hora</label>
      <input type="time" id="hora"  [(ngModel)] ="hora" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Motivo de la cita</label>
      <textarea id="motivo" row="3" class="form-control"  [(ngModel)] ="mensaje" placeholder="Cuántanos el motivo de la cita"></textarea>
    </div>
    <button style="width:100%" (click)="agregarCita()" class="btn btn-primary btn-block">Agregar Cita</button>
  </div>
</div>
