<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Agregar cita</h5>
    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" class="form-control" placeholder="Ingresa tu nombre y apellidos">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Fecha</label>
      <input type="date" id="fecha" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Hots</label>
      <input type="time" id="hora" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Motivo de la cita</label>
      <textarea id="motivo" row="3" class="form-control" placeholder="Cuántanos el motivo de la cita"></textarea>
    </div>
    <button style="width:100%" class="btn btn-primary btn-block">Agregar Cita</button>
  </div>
</div>
